<app-header></app-header>

<body>
    <!-- <div class="banner text-center">
        <h1 class="">Chilie Fried</h1>
        <h4>Home > Shop > Chilie Fried</h4>
    </div> -->
    <div class="banner">
        <div class="container container-v2">
            <div class="title-page">
                <h2>{{product.name}}</h2>
            </div>
            <div class="page">
                <a href="/">home <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <strong>Shop</strong>
                <a><i class="fa fa-angle-right" aria-hidden="true"></i>{{product.name}}</a>
            </div>
        </div>
    </div>
    <div class=" detail_product mt-5">
        <div class="container_custom">
            <div class=" row detail_info_pro">
                <div class="col-lg-6 col-md-6 detail_img_slide">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="product">
                                <img src="{{product.image}}" class="card-img" alt="">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="product">
                                <img src="{{product.image}}" class="card-img" alt="">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
                <div class="col-lg-6 col-md-6 mt-2">
                    <div class="infor_product">
                        <div class="evaluate d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p class="m-0">No reviews</p>
                        </div>
                        <div class="name_fastfood mt-2">
                            <h1>{{product.name}}</h1>
                        </div>
                        <div class="price mt-2">
                            <span>$ {{product.price}}</span>
                        </div>
                    </div>
                    <div class="describe_product mt-4">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, id non, nemo alias sed
                        distinctio laborum,
                        sint quidem hic quod accusamus omnis exercitationem? Mollitia harum quisquam recusandae tenetur
                        optio quidem?
                    </div>
                    <div class="option_user">
                        <div class="size mt-4 mb-4">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-3 col-md-4 col-sm-3">
                                    <h5>Size :</h5>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-9 size_detail">
                                    <select name="" id="size_item" class="">
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="size mt-5 mb-4">
                            <div class="row d-flex align-items-center ">
                                <div class="col-lg-3 col-md-4 col-sm-3">
                                    <h5>Option:</h5>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-9 opt">
                                    <span>Beef</span>
                                    <span>Chese</span>
                                    <span>Salad</span>
                                </div>
                            </div>
                        </div>
                        <div class="size mt-5 mb-4">
                            <div class="row d-flex align-items-center ">
                                <div class="col-lg-3 col-md-4 col-sm-3">
                                    <h5>Quantity :</h5>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-9 opt">
                                    <div class="input ml-3">
                                        <button class="btn-fake btn left_ip" (click)="mark('-')" id="tru"><i
                                                class="fa-solid fa-minus"></i></button>
                                        <input type="text" value="1" id="quantity">
                                        <button class="btn-fake btn right_ip" (click)="mark('+')" id="cong"><i
                                                class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addCart mt-5">
                        <button (click)="addCart()">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" mb-5 add_information text-center">
        <p>DESCRIPTION</p>
        <p class="add_info_title">ADDITIONAL INFORMATION</p>
        <p>REVIEW</p>
    </div>
    <div class="buyNow">
        <div class="container">
            <div class=" row justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-5 w_768">
                    <div class="infor_product">
                        <div class="name_fastfood">
                            <h1>Adjustable Hook &
                                Loop Fastener</h1>
                        </div>
                    </div>
                    <div class="describe_product mt-4">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, id non, nemo alias sed
                        distinctio laborum,
                        sint quidem hic quod accusamus omnis exercitationem? Mollitia harum quisquam recusandae tenetur
                        optio quidem?
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, id non, nemo alias sed
                        distinctio laborum,
                        sint quidem hic quod accusamus omnis exercitationem? Mollitia harum quisquam recusandae tenetur
                        optio quidem?
                    </div>
                    <div class="buy mt-5">
                        <a href="">Buy Now</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 mt-5">
                    <div class="product_add">
                        <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/files/instagram3.jpg?v=10845364633733112642"
                            class="card-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center latest_pro mt-5 mb-4">
        <p>Latest products</p>
    </div>
    <div class="container mb-5 more_item">
        <owl-carousel-o [options]="customOptions1">
            <ng-template carouselSlide>
                <div class="list_product">
                    <div class="image_pro">
                        <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/products/6.2.jpg?v=1578997770"
                            class="card-img" alt="">
                    </div>
                </div>
                <div class="text-center">
                    <h6 class="mt-2" style="font-weight: 700;">Double Classic Burger</h6>
                    <h6 class="m-0">$ 9.880</h6>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="list_product">
                    <div class="image_pro">
                        <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/products/8_4.jpg?v=1579052951"
                            class="card-img" alt="">
                    </div>
                </div>
                <div class="text-center">
                    <h6 class="mt-2" style="font-weight: 700;">Double Classic Burger</h6>
                    <h6 class="m-0">$ 9.880</h6>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="list_product">
                    <div class="image_pro">
                        <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/products/6.5.jpg?v=1578997865"
                            class="card-img" alt="">
                    </div>
                </div>
                <div class="text-center">
                    <h6 class="mt-2" style="font-weight: 700;">Double Classic Burger</h6>
                    <h6 class="m-0">$ 9.880</h6>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="list_product">
                    <div class="image_pro">
                        <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/products/7.4.jpg?v=1578998675"
                            class="card-img" alt="">
                    </div>
                </div>
                <div class="text-center">
                    <h6 class="mt-2" style="font-weight: 700;">Double Classic Burger</h6>
                    <h6 class="m-0">$ 9.880</h6>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="list_product">
                    <div class="image_pro">
                        <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/products/6.5.jpg?v=1578997865"
                            class="card-img" alt="">
                    </div>
                </div>
                <div class="text-center">
                    <h6 class="mt-2" style="font-weight: 700;">Double Classic Burger</h6>
                    <h6 class="m-0">$ 9.880</h6>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

</body>
<app-footer></app-footer>