<app-header></app-header>

<body>
    <div class="shop mb-5">
        <div class="title_shop">
            <h2>Shop</h2>
            <p class="mt-3">
                Home
                <i class="fa-solid fa-angle-right"></i> <span>Shop</span>
            </p>
        </div>
        <div class="container_custom mt-5">
            <div class="row">
                <div class="col-lg-3">
                    <div class="filter_by">
                        <div class="title_filter">
                            <i class="fa-solid fa-sliders"></i>
                            <span>FILTER BY</span>
                        </div>
                        <div class="icon_hidden">
                            <i class="fa-solid fa-angle-down" id="icon" (click)="clickIcon()"></i>
                        </div>
                    </div>
                    <div class="start_sort" id="filter">
                        <div class="clear_all mt-3">
                            <a>
                                <i class="fa-solid fa-trash"></i>
                                <span (click)="clear_all()">CLEAR ALL</span>
                            </a>
                        </div>
                        <div class="search mt-3">
                            <div class="search-box">
                                <button class="btn-search"><i class="fas fa-search"></i></button>
                                <input type="text" class="input-search" placeholder="Type to Search..."
                                    [(ngModel)]="keyword">
                            </div>
                        </div>
                        <div class="categories mt-2">
                            <div class="title_categories">
                                <i class="fa-solid fa-bars-staggered"></i>
                                <h4>CATEGORIES</h4>
                            </div>
                            <div class="food">
                                <div class="title_food">
                                    <span>FOOD</span>
                                    <i class="fa-solid fa-angle-down" style="cursor: pointer;" id="icon1"
                                        (click)="clickIcon1()"></i>
                                </div>
                                <div class="menu_cate mt-3" id="menu_food">
                                    <div class="item" *ngFor="let item of cate_food">
                                        <div class="title_item" (click)="get_id(item.id)"
                                            [class.title_item_click]="id_filter == item.id">
                                            <i class=" {{item.icon}}"></i>
                                            <span>{{item.name}}</span>
                                        </div>
                                        <div class="amount_item">
                                            <span>({{item.number}})</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="food mt-4">
                                <div class="title_food">
                                    <span>BEVERAGE</span>
                                    <i class="fa-solid fa-angle-down" style="cursor: pointer;" id="icon2"
                                        (click)="clickIcon2()"></i>
                                </div>
                                <div class="menu_cate mt-3" id="menu_drink">
                                    <div class="item" *ngFor="let item of cate_beverage">
                                        <div class="title_item" (click)="get_id(item.id)"
                                            [class.title_item_click]="id_filter == item.id">
                                            <i class="{{item.icon}}"></i>
                                            <span>{{item.name}}</span>
                                        </div>
                                        <div class="amount_item">
                                            <span>({{item.number}})</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter_price mt-4">
                            <div class="title_price">
                                <i class="fa-solid fa-bars-staggered"></i>
                                <h4>PRICE ($)</h4>
                            </div>
                            <div class="range mt-4">
                                <div class="max_min_value">
                                    <span>0</span>
                                    <span>1000</span>
                                </div>
                                <div class="sort_price" id="sort_pr">
                                    <input type="text" [(ngModel)]="min_price">
                                    <span>—</span>
                                    <input type="text" [(ngModel)]="max_price">
                                </div>
                            </div>
                        </div>
                        <div class="address_filter">
                            <button class="btn_filter" (click)="filter_general()">Filter</button>
                        </div>
                        <div class="best_deals">
                            <div class="title_price mt-4">
                                <i class="fa-solid fa-chart-simple"></i>
                                <h4>BEST DEALS</h4>
                            </div>
                            <div class="item_best_deals mt-3">
                                <div class="item_best_deal mt-3 ">
                                    <div class="row">
                                        <div class="img_best_deal col-lg-4 col-md-4">
                                            <img src="https://demo2wpopal.b-cdn.net/poco/wp-content/uploads/2020/08/8-1-600x600.png"
                                                alt="" class="">
                                        </div>
                                        <div class="col-lg-8 item_info col-md-8">
                                            <div class="star">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                            </div>
                                            <p>Chicken Burger</p>
                                            <span>$ 16.75</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- best_deal_768-->
                            <div class="item_best_deals_768">
                                <div class="row">
                                    <div class="col-md-6 mt-3 col-sm-6 padding_010">
                                        <div class="item_best_deal_768">
                                            <div class="row">
                                                <div class="col-md-4 img_best_deal_768 col-sm-4 col-4">
                                                    <img src="https://demo2wpopal.b-cdn.net/poco/wp-content/uploads/2020/08/8-1-600x600.png"
                                                        class="card-img" alt="">
                                                </div>
                                                <div class="col-md-8 item_info col-sm-8 col-8">
                                                    <div class="star">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star-half-stroke"></i>
                                                    </div>
                                                    <p>Chicken Burger</p>
                                                    <span>$ 16.75</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row align-self-stretch">
                        <div class="col-lg-4 around_item col-md-4 col-sm-6 "
                            *ngFor="let item of dataPro | search: keyword">
                            <div class="favorite">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <div class="card product h-100">
                                <div class="product_img" style="height: -webkit-fill-available;">
                                    <a routerLink="/detail/{{item.id}}" class="link_product">
                                        <img class="card-img-top product_image" src="{{item.image}}" alt="Title">
                                    </a>
                                </div>
                                <div class="card-body mt-2">
                                    <h4 class="card-title">{{item.name}}</h4>
                                    <p class="card-text">{{item.description}}</p>
                                    <div class="price">
                                        <span>$ {{item.price}}</span>
                                        <a href=""><i class="fa-solid fa-basket-shopping"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>