<app-header></app-header>
<main>
    <div class="banner">
        <div class="container container-v2">
            <div class="title-page">
                <h2>About Us</h2>
            </div>
            <div class="page">
                <a href="/">home <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <strong>ABout us</strong>
            </div>
        </div>
    </div>
    <div class="aboutus-pages">
        <div class="container container-v2">
            <div class="about-introduce">`
                <div class="row">
                    <div class="col-lg-6 intro_detail d-flex align-items-center">
                        <div class="info-intro">
                            <h3 class="title_intro">Who We Are</h3>
                            <p class="des_intro">Fashion democracy</p>
                            <p class="content_intro">We believe in a world where you have total freedom to be you,
                                without judgement. To
                                experiment.
                                To express yourself. To be brave and grab life as the extraordinary adventure it is. So
                                we make
                                sure everyone has an equal chance to discover all the amazing things they’re capable of
                                – no
                                matter who they are, where they’re from or what looks they like to boss. We exist to
                                give you
                                the confidence to be whoever you want to be.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 intro-image">
                        <img class="w-100"
                            src="https://cdn.shopify.com/s/files/1/0301/5648/8842/files/banner3.2.png?v=1613680077"
                            alt="">
                    </div>
                    <div class="col-lg-6 intro-image">
                        <img class="w-100"
                            src="https://cdn.shopify.com/s/files/1/0301/5648/8842/files/banner3.3.jpg?v=1613680078"
                            alt="">
                    </div>
                    <div class="col-lg-6 intro_detail d-flex align-items-center">
                        <div class="info-intro">
                            <h3 class="title_intro">Choice For All</h3>
                            <p class="des_intro">Fashion democracy</p>
                            <p class="content_intro">Our audience (AKA you) is wonderfully unique. And we do everything
                                we can to help you find your fit, offering our Ciloe Brands in more than 30 sizes – and
                                we're committed to providing all sizes at the same price – so you can be confident we’ve
                                got the perfect thing for you. We’re also proud to partner with GLAAD, one of the
                                biggest voices in LGBTQ activism, on a gender-neutral collection to unite in
                                accelerating acceptance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 style="text-align: center; font-family: Habibi; color: #ea8025;" class="mb-5">INSTAGRAM</h1>
    <div class="container cnt mb-5">
        <div class="d-flex">
            <div class="col-lg-3 images">
                <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/files/instagram3.jpg?v=10845364633733112642"
                    class="card-img" alt="">
                <div class="overlay">
                    <div class="text"><i class="fab fa-instagram"></i></div>
                </div>
            </div>
            <div class="col-lg-3 images">
                <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/files/instagram4.jpg?v=5289840180304740448"
                    class="card-img" alt="">
                <div class="overlay">
                    <div class="text"><i class="fab fa-instagram"></i></div>
                </div>
            </div>
            <div class="col-lg-3 images">
                <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/files/instagram5.jpg?v=13777695787510367999"
                    class="card-img" alt="">
                <div class="overlay">
                    <div class="text"><i class="fab fa-instagram"></i></div>
                </div>
            </div>
            <div class="col-lg-3 images">
                <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/files/instagram2.jpg?v=1610900017739436619"
                    class="card-img" alt="">
                <div class="overlay">
                    <div class="text"><i class="fab fa-instagram"></i></div>
                </div>
            </div>
        </div>
    </div>

</main>
<app-footer></app-footer>