<body>
    <footer>
        <div class="container_custom">
            <div class="row mt-3">
                <div class="col-lg-3 col-md-4 col-sm-4 title_info_footer">
                    <h4 class="mb-4">HELP & INFORMATION</h4>
                    <a href="">
                        <p>Help Center</p>
                    </a>
                    <a href="">
                        <p>Harman Corporate</p>
                    </a>
                    <a href="">
                        <p>Contact Us</p>
                    </a>
                    <a href="">
                        <p>Location</p>
                    </a>
                    <a href="">
                        <p>About Us</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 title_info_footer">
                    <h4 class="mb-4">ABOUT US</h4>
                    <a href="">
                        <p>Sitemap</p>
                    </a>
                    <a href="">
                        <p>Privacy Policy</p>
                    </a>
                    <a href="">
                        <p>Help</p>
                    </a>
                    <a href="">
                        <p>Store Locations</p>
                    </a>
                    <a href="">
                        <p>Contact Us</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 title_info_footer">
                    <h4 class="mb-4">CATEGORIES</h4>
                    <a href="">
                        <p>Terms of Service</p>
                    </a>
                    <a href="">
                        <p>Registry</p>
                    </a>
                    <a href="">
                        <p>Return Policy</p>
                    </a>
                    <a href="">
                        <p>Standard</p>
                    </a>
                    <a href="">
                        <p>Address</p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-12 info_footer_end">
                    <h4 class="mb-4">The good stuff in your inbox</h4>
                    <p>News & updates from Gym Active.
                        <br>
                        No spam, we promise.
                    </p>
                    <form action="" class="form_footer">
                        <div class="email">
                            <input type="text" placeholder="Email">
                        </div>
                        <button>SEND <i class="fa-solid fa-angle-right"></i></button>
                    </form>
                    <div class="list_icon">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href="" class="fb"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-behance"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment mt-3">
            <img src="https://cdn.shopify.com/s/files/1/0301/5648/8842/files/pay-home5.png?v=1613680249" alt="">
        </div>
    </footer>
</body>