.banner {
    background-image: url('https://cdn.shopify.com/s/files/1/0414/0069/6999/files/slideshow-v1-2.jpg?v=1593074379');
    /* height: 310px; */
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: center;
}

.banner h2 {
    display: inline-block;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

/* .banner h4 {
    font-family: 'Courier New', Courier, monospace;
} */

/* .banner h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 700;
} */

.container-v2 {
    max-width: 1430px;
}

.banner .container-v2 .title-page h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace !important;
    color: #fff;
}

/* .banner .container-v2 .title-page h2::before {
    content: "";
    height: 2px;
    width: 74px;
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translate(-50%);
    background: #ffffff;
} */
.page {
    padding: 30px 0;
}

.page a,
strong {
    text-transform: uppercase;
    color: #fff;
    font-family: Habibi;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    background-color: transparent;
}

.page a i {
    padding: 0 10px;
}

.author img {
    border-radius: 50%;
}

.blog {
    background-color: #9999981b;
    padding: 15px;
    margin: 20px 0px;
}

.blog1,
.title_ {
    margin: 20px 0px;
}

.title_ {
    position: relative;
}

.title_::after {
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #ea8025;
    content: '';
    top: 50%;
}

.title_blog {
    font-family: Habibi;
}

.title_blog h2:hover {
    color: #ea8025;
    cursor: pointer;
    transition: .2s;
}

.number_one {
    border: 2px solid #ea8025;
    padding: 4px 10px;
    /* color: #fff; */
    color: #ea8025;
    margin: 0px 5px;
    cursor: pointer;
}

.number_one:hover {
    color: #fff;
    background-color: #ea8025;
    transition: .3s;
}

.next_blog {
    cursor: pointer;
}

.addClass {
    background-color: #ea8025;
    color: #fff;
}

.removeClas {
    background-color: #fff;
    color: #ea8025;
}

.active_change_page {
    background-color: #ea8025;
    color: #fff !important;
}


.image_blog img {
    object-fit: cover;
}